<h1>Update Post</h1>


<form action="<%=post_url(@post)%>" method="post">
<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
<input type="hidden" name="_method" value="patch">
<label for="title">Title
<input type="text" name="post[title]" value="<%=@post.title%>">
</label>
<br>
<label for="URL">URL
<input type="text" name="post[url]" value="<%=@post.url%>" >
</label>
<br>
<label for="content">Post
<textarea name="post[content]" ><%=@post.content%></textarea>
</label>
<br>

<% Sub.all.each do |sub| %>
  <label for=""> <%= sub.title %>
  <input type="checkbox" 
  name="post[sub_ids][]" 
  value="<%=sub.id%>"
  <%= "checked" if @post.sub_ids.include?(sub.id)%>
  >
  </label>
<br>
<% end %>

<input type="submit" value="Edit Post">

</form>