<h1><%= @post.title %></h1>

<p> <%= @post.content %> </p>

<a href="<%=subs_url%>">Back to Subs</a>

<a href="<%=edit_post_url(@post.id)%>">Edit Post</a>

<a href="<%=new_post_comment_url(@post.id)%>">Add Comment</a>
<ul>
<% @post.comments.where(parent_comment_id: nil).includes(:comments).each do |comment| %>

<%=render("comments/form", comment: comment) %>

<% end %>

</ul>